.timeline_header {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 5px;
  text-align: center;
}
.timeline_container {
  height: auto;
  margin: auto auto;
  max-width: 1000px;
  width: 100%;
  .hkeKCl {
    height: 60px;
    width: 60px;
  }
  .dRLFKu {
    width: 100%;
  }
}